:root {
  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Cardo", sans-serif;
  --content-width: 81.25rem; // 1300px;
  --container-offset: 0.9375rem; // 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  /* ------------------- */

  /* color theme         */

  /* ------------------- */
  --neutral-100: hsl(0deg 0% 100%);
  --neutral-200: hsl(218deg 52% 81%);
  --neutral-300: hsl(216deg 5% 61%);
  --accent-color: hsl(43deg 100% 63%);
  --danger-color: hsl(0deg 100% 72%);
  --success-color: hsl(141deg 71% 48%);
  --primary-color: hsl(217deg 57% 25%);
  --focus-visible: hsl(221deg 51% 86%);
  --placeholder-color: hsl(0deg 0% 80%);
  --neutral-bg: hsl(214deg 54% 97%);

  /* ------------------- */

  /* font-size           */

  /* ------------------- */
  --fs-12: 0.75rem; // 12px;
  --fs-14: 0.875rem; // 14px;
  --fs-16: 1rem; // 16px;
  --fs-18: 1.125rem; // 18px;
  --fs-22: 1.375rem; // 22px;
  --fs-24: 1.5rem; // 24px;
  --fs-32: 2rem; // 32px;
  --fs-42: 2.625rem; // 42px;
  --fs-48: 3rem; // 48px;
  --fs-54: 3.375rem; // 54px;
  --fs-62: 3.875rem; // 62px;

  /* ------------------- */

  /* transition          */

  /* ------------------- */
  --trs-25: 0.25s ease-in-out;
  --trs-35: 0.35s ease-in-out;
  --trs-45: 0.45s ease-in-out;

  /* ------------------- */

  /* margin              */

  /* ------------------- */
  --mrg-50: 3.125rem; // 50px;
  --mrg-100: 6.25rem; // 100px;
  --mrg-150: 9.375rem; // 150px;
  --mrg-200: 12.5rem; // 200px;

  /* ------------------- */

  /* gap                 */

  /* ------------------- */
  --gap: 1.25rem; // 20px;
}
